html,
body {
	margin: 0px;
	padding: 0px;
	/*    background: url(../images/fon.jpg) no-repeat;
    background-attachment:fixed;*/
	background: url(img/fon.jpg) no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 0;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	text-shadow: black 0 0 3px;
}

.container {
	width: 85%;
	color: black;
	text-shadow: none;
	background: #fff;
	padding: 20px 30px;
	margin: 60px auto;
	text-align: justify
}

/*=========Шапка и логотип==================*/


/*===============begin==================*/

header {
	width: 100%;
	/*   min-width: 80%;*/
	height: 100px;
	background: black;
	opacity: 0.7;
	margin-top: 50px
}

.head_cont {
	width: 65%;
	margin: 0 auto;
	height: 100px;
}

.logo {
	float: left;
	/*margin: 2% auto 20%;*/
	margin: 25px auto;
}

.text_logo {
	margin: 25px;
	margin-left: 60px;
	/*font-size: 20px;*/
	color: #ffffff;
}


/*===============end==================*/


/*=======================Стили для меню==============================
 begin */
{
	background: url(img/123.jpg);
}
ul li {
/*	display: table-cell;*/
	/*так меню не будет съезжать*/
	list-style: none;
	
}

ul li:hover {
	background: #222;
	border-radius: 8px;
}

ul li a {
	display: block;
	padding: 0 20px;
	text-decoration: none;
	line-height: 35px;
	color: #fff;
}

ul li:hover > ul li {
	display: block;
	border-radius: 8px;
}

ul li:hover >li a {
	background: #222;
	border-radius: 8px;
}


/*=================Стили для меню end===============================*/


/*=====================Контент=====================*/


/*.row {
	width: 100%;
}*/

.content {
	width: 100%;
	margin: 150px auto;
}

.text_cont {
	text-align: center;
	width: 65%;
	/*ширина блока с текстом*/
	margin: 60px auto;
	/*выравниваем по центру текст контента и футера*/
}

.thin {
	margin: 3px auto;
	width: 80%;
	/*    width: 700px;*/
	border: 1px;
	background-color: white;
	height: 1px;
}

.fat {
	margin: 3px auto;
	width: 100%;
	/* width: 700px;*/
	border: none;
	background-color: white;
	height: 2px;
}

h1 {
	font-size: 10vmin;
}

h4 {
	font-size: 2.2vmin;
}

.menu-btn {
	border: none;
	background-color: transparent;
	font-size: 26px;
	float: right;
	margin-top: 30px;
}

footer {
	width: 100%;
	height: 80px;
	background: black;
	opacity: 0.7;
	
	margin-bottom: 50px;
}

.foot_cont {
	width: 65%;
	/*ширина блока с текстом*/
	margin: auto;
	/*выравниваем по центру текст контента и футера*/
	padding-top: 15px;
}

.copyright {
	float: left;
}

.soc_buttons {
	float: right;
	font-size: 26px;
}

.soc_buttons a {
	color: #fff;
}

.soc_buttons a:hover {
	color: dodgerblue;
}
.fa-times {
	color: black;
	font-size: 1.2em;
}
.fa-times:hover {
	color: dodgerblue;
} 
/*.fa-times:active {
	color:crimson;
}*/
/*=================Для index.html end============================*/

.confirm {
	cursor: pointer;
	color: black;
	
}
.confirm:hover {
	color: red;
}

#comment_manipulation {
/*	float: right;*/
	margin-left: 3px;
	opacity: 0.09;
}
#comment_manipulation:hover {
	opacity: 1;
}
.link {
	color:black;
}
.link_bright {
	color:#05b7b7;
}
.link_obl {
	font-style: oblique;
	color: rgba(23, 124, 85, 0.76);
}
.link:hover,.link_bright:hover,.link_obl:hover {
	text-decoration: underline;
	cursor: pointer;
}

.read_more {
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	border: none;
	padding: 8px 35px;
	background: rgb(212, 75, 56);
	text-transform: uppercase;
}

.read_more:hover {
	background: rgb(232, 95, 76);
	cursor: pointer;
}

.read_more:active {
	box-shadow: 0 0 10px 5px rgb(192, 55, 36) inset;
}
.title {
	margin-bottom: -20px;
}
.post {
	margin-top: -30px;
	margin-bottom: 30px;
	white-space: pre-line;
}
.comment_form {
	width: 100%;
	/*padding: 30px 0px;*/
	/*border: 1px solid #ccc;*/
}
.comment_form>button {
	float: right;
}
.comment_text {
	width: 100%;
	resize: none;
}
.list_comments {
	width: 100%;
	padding: 12px 0;
}
.date {
	font-size: 12px;
	border-bottom: 1px solid #ccc;
}
.text_com {
	padding: 10px 0;
}
.edit_com {
	width: 100%;
}